@page
@model ZHL.GUI.Pages.AboutModel
@{
    ViewData["Title"] = "Home page";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-pills bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="./Index">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" asp-area="" asp-page="./About"><strong>About</strong></a>
            </li>
        </ul>
    </div>
</nav>



<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - ZHL - <a href="https://github.com/pleycothh/ZHL.Project" target="_blank">Github</a>
    </div>
</footer>