@page
@model ZHL.GUI.Pages.AboutModel
@{
    ViewData["Title"] = "Home page";
}
@section scripts
{
    <link rel="stylesheet" type="text/css" href="~/css/About.css" />
}
<nav class="navbar mb-3 bg-secondary ">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="./Index" asp-route-CacheId="@Model.CacheId">Home</a>
        </li>
            
        <li class="nav-item">
            <a class="nav-link text-dark" style="color:white" asp-area="" asp-page="./Filter" asp-route-CacheId="@Model.CacheId">Filter</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" asp-area="" asp-page="./About" asp-route-CacheId="@Model.CacheId"><strong>About</strong></a>
        </li>
    </ul>
</nav>

<div class="container" style="margin-top: 50px">

        <h2>Objective of This Project:</h2>

        <p>This is a language filter project, using ASP.NET Core Razor Pages.</p>
        <p>The highlight of this project is it allows <strong>complex</strong> and <strong>extendable</strong> match rules, even with machine learning plugins to provide a loose match.</p>
        <p>The idea of this project is to use Autofac to easily manage test cases plugins.</p>

        <br />
        <hr />

        <h2 style="margin-top: 20px">Get Started:</h2>
        <h3>Step 1:</h3>
        <p>Enter the filter item.</p>
        <p>The item will be stored in the filter list and will use to check the input later.</p>
        <br />
        <h3>Step 2:</h3>
        <p>Enter the check item.</p>
        <p>The resulting item will be marked if the input string found matches the filter list.</p>

        <br />
        <hr />

    <h2 style="margin-top: 20px">Contact: </h2>

    <p>Name: Ben Li</p>
    <p>Phone: 0405-100-577</p>
    <p>Email: ben.zhuoheng.li@gmail.com</p>
    <p>Linkedin:  <a href="https://www.linkedin.com/in/ben-zhuoheng-li/" target="_blank">linkedin.com/in/ben-zhuoheng-li</a></p>
    <p>GitHub: <a href="https://github.com/pleycothh/ZHL.Project" target="_blank">Github</a></p>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ZHL
        </div>
    </footer>

</div>




<!--div class="emailer">
    <form method ="post">
        <label for="fname">Name</label>
        <input type="text" id="fname" asp-for="Name" placeholder="Your name..">

        <label for="fname">Email</label>
        <input type="text" id="email" asp-for="UserEmail" placeholder="Optional...">

        <label for="fname">Phone:</label>
        <input type="text" id="phone" name="Phone"  placeholder="Optional...">



        <label for="intension">Why</label>
        <select id="intension" asp-for="Subject">
            <option value="suggess">Suggession</option>
            <option value="recruiting">Recruiting</option>
            <option value="other">Others</option>
        </select>

        <label for="subject">Subject</label>
        <textarea id="subject"  asp-for="TextBox" placeholder="Write something.." style="height:200px"></textarea>

        <button asp-page-handler="SendEmail" type="submit" class="btn btn-success" asp-route-CacheId="@Model.CacheId">Send</button>

    </form>

</div-->

