@page
@model ZHL.GUI.Pages.AboutModel
@{
    ViewData["Title"] = "Home page";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-pills bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="./Index">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" asp-area="" asp-page="./About"><strong>About</strong></a>
            </li>
        </ul>
    </div>
</nav>

<h2>Objective of This Project</h2>
<p>This is an ongoing chatbot project, using ASP.NET with the Autofac package.</p>
<p>The Idea of this project is to easily manage machine learning and neural language processing model injection through autofac.</p>
<p>The User can log in and resume the conversation.</p>
<p>The chatbot will also use the user chat history as a bias model and add to the current model to achieve more accurate results.</p>


<h2 style="margin-top: 20px">Contact</h2>
<p>Feel free to check the source code at <a href="https://github.com/pleycothh/ZHL.Project" target="_blank">Github</a>.</p>
<p>Or leave the massage below</p>

<form>
    <input placeholder="..." />
    <button class="btn-primary" type="submit">Submit</button>
</form>


<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - ZHL
    </div>
</footer>