@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-pills bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" asp-area="" asp-page="./Index"><strong>Home</strong></a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="./About">About</a>
            </li>

        </ul>
    </div>
</nav>  

<div class="container mt-4">

    <div class="card mx-auto" style="max-width:800px">


        @foreach(var chatItem in Model.chatHistory.ChatItems)
        {
            <!-- Text Area -->
            <div class="card-body p-4" style="height: 500px; overflow: auto">

                <div class="d-flex align-items-baseline mb-4">
                    <div class="pe-2">
                        <div>
                            <div class="card card-text d-inline-block p-2 px-3 m-1">@chatItem.TextItem.Answer</div>
                            <div class="small">@chatItem.Created</div>
                            <div class="small">@chatItem.TextItem.AnswerRate</div>
                        </div>
                    </div>
                </div>
            </div>
        }
      
        
        
        <form method="post">
            <!-- input bar -->
            <div class="card-footer bg-white position-absolute w-100 bottom-0 m-0 p-1">
                <div class="input-group">

                    <input type="text" asp-for="UserInput" class="form-control border-0" placeholder="Input..." />

                    <div class="input-group-text bg-transparent border-0">
                        <button class="btn btn-light text-secondary" type="submit" style="font-size:24px">Voice<i class="fa fa-microphone"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>