body {
    background-color: #17191f;
    color: #17191f;
    font-size: 24px;
}

#filter {
    background-color: auto;
    width: auto;
    height: 40vh;
    overflow: auto;
}

#filter-list {
}

#filter-input {
    width: auto;
}
